{% extends "base.html" %}

{% block scripts %}
{{super()}}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function(){
        $('#instrument_name').select2({
            data: {{select2_instrument_array|tojson}},
            allowClear: true,
            debug:true,
            placeholder:"select your instrument"
        });
    });
</script>
{% endblock %}

{% block content %}
<div class="container">

<div class="container">
    <h1 class="text-decoration-none text-dark"><a href="{{ url_for('show_study', stu = project.stu) }}">{{project.stu}}</a></h1>
</div>
<div class="container">
    <h2>{{project.project_title}} <small><mark>pid {{project.pid}}</mark></small></h2>
    <p>API Token used: <mark>{{project.api_token | truncate(12,False,"****")}}</mark></p>
    <p>Is longitudinal? <mark>{{"yes" if project.is_longitudinal else "no"}}</mark></p>
    <p>Has repeating instruments or events? <mark>{{"yes" if project.has_repeating_instruments_or_events else "no"}}</mark></p>
    <p>Surveys enabled? <mark>{{"yes" if project.surveys_enabled}}</mark></p>
</div>
<div class="container">
    <p>This project has <mark><strong>{{ project.instruments | length }} instruments</strong></mark> configured as e-consent forms.</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Instrument Name</th>
                <th scope="col">Instrument Label</th>
                <th scope="col">Case Number Variable</th>
                <th scope="col">Consent Date Variable</th>
            </tr>
        </thead>
        <tbody>
            {% for instrument in project.instruments %}
            <tr>
                <td>{{ instrument.instrument_name }}</td>
                <td>{{ instrument.instrument_label }}</td>
                <td>{{ instrument.case_number_var }}</td>
                <td>{{ instrument.consent_date_var }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <br /><br />
    <p>To configure an instrument as an e-consent form, add the following information below</p>
    <form method="post" action="{{ url_for('add_instrument', pid=project.pid, stu=project.stu) }}">
        <input type="hidden" id="stu" name="stu" value="{{project.stu}}">
        <input type="hidden" id="pid" name="pid" value="{{project.pid}}">
        <div class="form-group">
            <label for="instrument_name">Instrument name (no spaces, as provided in the data dictionary)</label>
            <select class="custom-select" id="instrument_name" name="instrument_name">
            </select>
        </div>
        <div class="form-group">
            <label for="case_number_var">The variable to use as the case number</label>
            <input class="form-control" type="text" placeholder="Case Number Variable" id="case_number_var" name="case_number_var">
        </div>
        <div class="form-group">
            <label for="consent_date_var">The variable that stores the consent date</label>
            <input class="form-control" type="text" placeholder="Consent Date Variable" id="consent_date_var" name="consent_date_var">
        </div>
        <button type="submit" class="btn btn-secondary">Add Project</button>
    </form>
</div>

</div>
{% endblock %}

